* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#first__div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 700px;
  margin: 0 auto;
}
.div {
  width: 220px;
  height: 200px;
  text-align: center;
}

.second {
  width: 300px;
  height: 350px;
  margin: 0 auto;
}
